*.pyo
*.pyc
venv
.DS_Store
local_settings.py
.project
.pydevproject
.settings
.ipynb_checkpoints
*.resources.prefs
__profile
__css
__js
*/pictures/*.jpg
*/pictures/*.png
*/pictures/*.gif
projectfixup/media/pictures/*.jpg
projectfixup/media/pictures/*.png
projectfixup/media/pictures/*.gif
projectfixup/static
data
.idea
*.jar
mysql-connector-license.txt
*.log
*.sql
*.xlsx
*.xls
*.ipynb
*~
